{% extends "articles/layout.html" %}
{% load mptt_tags %}

{% block body %}
    <b>Категория:</b>
    {% recursetree article.category.get_family %}
        <a href="{{ node.get_absolute_url }}">{{ node.name }}</a> /
        {% if not node.is_leaf_node %}
            {{ children }}
        {% endif %}
    {% endrecursetree %}
    <p><b>Дата публикации: </b>{{ article.created_at|date }}</p>
    <p><b>Тэги: </b>{% for tag in article.tags.all %}{{ tag.name }}, {% endfor %}</p>
    <p><b>Автор: </b>{{ article.author.first_name }} {{ article.author.last_name }} ({{ article.author.username }})</p>
    <p><b>Рейтинг: </b>{{ article.rating|floatformat:2 }}</p>
    <p><b>Время прочтения: </b>{{ article.get_reading_time }} мин.</p>
    <h1>{{ article.title }}</h1>
    <p>{{ article.content|safe }}</p>
    <br>
    <h2>Комментарии</h2>
    {% if article.comments %}
        <section>
            {% for comment in article.comments.all %}
                <div>
                    <b>{{ comment.user.username }}</b> ({{ comment.created_at|date:"SHORT_DATETIME_FORMAT" }})<br>: {{ comment.text }}
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}