.welcome__description {
  height: 44px;
  text-align: center;
  white-space: pre;
}

.form__container {
  margin-top: 20px;
  padding: 5px 16px 30px 16px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.logo__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D6EFD;
}

.line {
  margin: 32px 72px;
  height: 0;
  width: 232px;
  border-bottom: 1px solid #E0E0E0;
}





