*.pyc
.idea/
__pycache__/
.DS_Store
*/.env
*/.env.develop
*/.env.master
*/.env.stage
*/venv
*/postgresql
*/.python-version
backend/static/
backend/media/
db
elasticsearch/
rabbitmq/
redis
.mypy_cache
frontend/node_modules
frontend/db.json
frontend/tests/cypress/reports
frontend/tests/cypress/screenshots
frontend/tests/cypress/videos
frontend/tests/node_modules
backend/core/logs/
cache/
*/celerybeat*
volumes/*