*.pyc
.idea/
__pycache__/
.DS_Store
*/.env
*/.env.develop
*/.env.master
*/.env.stage
*/venv
*/postgresql
*/.python-version
back/static/
back/media/
db
elasticsearch/
rabbitmq/
redis
.mypy_cache
front/node_modules
front/db.json
front/tests/cypress/reports
front/tests/cypress/screenshots
front/tests/cypress/videos
front/tests/node_modules
back/core/logs/
cache/
*/celerybeat*
volumes/*