version: '3'

services:
  server:
    build: backend/
    container_name: "backend-${CONTAINER_SUFFIX}"
    env_file:
      - "${ENV_FILE}"
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend/static:/opt/services/backend/src/static
    depends_on:
      - db

  frontend:
    build: frontend/
    container_name: "frontend-${CONTAINER_SUFFIX}"
    ports:
      - "${FRONTEND_PORT}:8080"

  db:
    image: postgres:14
    container_name: "db-${CONTAINER_SUFFIX}"
    env_file:
      - "${ENV_FILE}"
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - ./db:/var/lib/postgres/data

  dozzle:
    container_name: "dozzle-${CONTAINER_SUFFIX}"
    image: amir20/dozzle:v4.4.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "${DOZZLE_PORT}:${DOZZLE_PORT}"
    environment:
      - "DOZZLE_ADDR=:${DOZZLE_PORT}"

  elasticsearch:
    image: elasticsearch:7.17.5
    container_name: "elasticsearch-${CONTAINER_SUFFIX}"
    env_file:
      - "${ENV_FILE}"
    ports:
      - "${ELASTIC_PORT}:9200"
    volumes:
      - .devops/build/hunspell:/usr/share/elasticsearch/config/hunspell
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=$ELASTIC_PASSWORD
      - xpack.security.enabled=true
      - ES_JAVA_OPTS=-Xms750m -Xmx750m

  redis:
    image: redis:7.0
    container_name: "redis-${CONTAINER_SUFFIX}"
    command:
      - redis-server
      - --requirepass
      - ${REDIS_PASSWORD}
    env_file:
      - "${ENV_FILE}"
    environment:
      - "REDIS_PASSWORD=${REDIS_PASSWORD}"
      - "REDIS_PORT=${REDIS_PORT}"
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./redis:/data
