[requires]
python_version = "3.11"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-cors-headers = "*"
faker = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-elasticsearch-dsl = "*"
types-pytz = "*"
furl = "*"
requests = "*"
dacite = "*"
types-requests = "*"
django-recaptcha = "*"
django-polymorphic = "*"
celery = "*"
django-cms = "*"
django-sekizai = "*"
djangocms-text-ckeditor = "*"
django-filer = "*"
django-json-widget = "*"
django-ckeditor = "*"
django-mptt = "*"
django-mptt-admin = "*"
redis = "*"

[dev-packages]
isort = "*"
pre-commit = "*"
flake8 = "*"
mypy = "*"
black = "*"
pytest-django = "*"
