[requires]
python_version = "3.11"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-cors-headers = "*"

[dev-packages]
isort = "*"
pre-commit = "*"
flake8 = "*"
mypy = "*"
black = "*"
