.MuiMenuItem-root {
  border-radius: 8px;
  height: 60px;
}

.MuiList-root .MuiButtonBase-root:hover {
  background: #0d6efd;
  color: white;

  .MuiSvgIcon-root {
    color: white;
  }
}

.MuiList-root .MuiButtonBase-root {
  .MuiSvgIcon-root {
    margin-right: 10px;
  }
}

.menu_img:hover {
  background: #0d6efd;
  color: white;

  .MuiListItemIcon-root {
    color: white;
  }
}

.notifications_box {
  color: gray;
  display: flex;
  justify-content: end;
  column-gap: 15px;
  padding-right: 30px;

  .MuiSvgIcon-root {
    margin: 0 !important ;
  }
}

.logo_img {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 78px;
  height: 18px;
}

.backgroung_img {
  height: 100%;
}
