@import 'variables';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $body-color;
}

.logo__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D6EFD;
}

.welcome__description {
  max-width: 311px;
  text-align: center;
}

.form__container {
  margin-top: 20px;
  padding: 5px 16px 30px 16px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
