@import 'variables';

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

@media screen and (max-width: 1800px) {
  html, body {
    font-size: 14px;
  }
}

body {
  background-color: $body-color;
  height: 100%;
}

#root {
  height: 100%;
}

.welcome__description {
  height: 44px;
  text-align: center;
  max-width: 311px;
}

.form__container {
  margin-top: 20px;
  padding: 5px 16px 30px 16px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.sign_in_confirm__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log_in_blocked__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log_in_blocked__container-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.line {
  margin: 32px 72px;
  height: 0;
  width: 232px;
  border-bottom: 1px solid #E0E0E0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

