@import 'variables';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $body-color;
}

.logo__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D6EFD;
}

.welcome__description {
  max-width: 311px;
  text-align: center;
}
