ENV_FILE=backend/.env.master
CONTAINER_SUFFIX=master

BACKEND_PORT=5000
FRONTEND_PORT=5050
DATABASE_PORT=5433
DOZZLE_PORT=3030
ELASTIC_PORT=9100
REDIS_PORT=6479
FLOWER_PORT=5550
RABBITMQ_PORT=5670
RABBITMQ_MANAGEMENT_PORT=15670
